<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <lable for="email">Email</lable>
  <input type="email" value="email">
  <lable for="password">Password</lable>
  <input type="password" value="password">
  <input id="login" type="submit" value="Log in">
</form>
