<!DOCTYPE html>
<html>
  <head>
    <title>Sign Uo</title>
  </head>
  <body>
    <h1>Sign Up Below:</h1>


    <form action="/registrations" method="post">
      <lable for="name">Name</lable>
      <input type="text" value="name">
      <lable for="email">Email</lable>
      <input type="email" name="email">
      <lable for="password">Password</lable>
      <input type="password" value="password">
      <input id="submit" type="submit" value="Submit">
    </form>
  </body>
  </html>
